{% extends "rhymefind/base.html" %}
{% block content %}

	{# search box #}
	<form type="get" action="." style="margin: 0">
	    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
	    <button id="search_submit" type="submit" >Search</button>
	</form>

	{# print result #}
	{% if found_word %}

	<p><strong>Input: </strong>{{ found_word.word }}</p>

	<p><strong>Output: </strong></p>
	<ol>
		{% for find in rhymefinds %}
		<li>
			{{ find.rhyme_couplet.word1 }} {{ find.rhyme_couplet.word2 }}
		</li>
		{% endfor %}
	</ol>
	{% else %}
	<p>Didn't find anything!</p>
	{% endif %}

	{# top words list #}
	<h3>Some words that are fun to lookup...</h3>
	<ul>
		{% for fun_word in fun_words %}
		<li>
			<a href="/?search_box={{ fun_word }}">{{ fun_word }}</a>
		</li>
		{% endfor %}
	</ul>
{% endblock content %}