{# header #}
<h1>RhymeFind</h1>
<h2>What time is it?? It's rhyme time!!</h2>

{# search box #}
<form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>

{# print result #}
{% if found_word %}

<p><strong>Input: </strong>{{ found_word.word}}</p>

<p><strong>Output: </strong></p>
<ol>
	{% for couplet in couplets %}
	<li>
		{{ couplet.word_1 }}, {{ couplet.word_2 }}
	</li>
	{% endfor %}
</ol>
{% else %}
<p>Didn't find anything!</p>
{% endif %}
