<head>
	<h1>RhymeFind</h1>
</head>

<body>
	{# search box #}
	<form type="get" action="." style="margin: 0">
	    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
	    <button id="search_submit" type="submit" >Submit</button>
	</form>

	{# print result #}
	{% if found_word %}

	<p><strong>Input: </strong>{{ found_word.word}}</p>

	<p><strong>Output: </strong></p>
	<ol>
		{% for couplet in couplets %}
		<li>
			{{ couplet.word_1 }} {{ couplet.word_2 }}
		</li>
		{% endfor %}
	</ol>
	{% else %}
	<p>Didn't find anything!</p>
	{% endif %}

	{# top words list #}
	<h3>Some words that are fun to lookup...</h3>
	<script type="text/javascript">
		var x = "<ul>";
		var array = ['magazine', 'paper', 'believe', 'feed', 'whiskey', 'rum', 'wrench', 'america', 'indigenous', 'radical', 'coup', 'feast', 'facelift', 'genuine', 'rate', 'archaeologist', 'breathe', 'blunt', 'leader', 'raft', 'heart', 'orthogonal', 'wow', 'trade', 'newspaper', 'piano', 'flagrant', 'manager', 'football', 'nonsense', 'priest', 'prostitute', 'computer'];
		for (i=0; i<array.length; i++) {
		  x = x + "<li>" + array[i] + "</li>";
		}
		x += "</ul"
		document.body.innerHTML += x;
	</script>
</body>